*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.link{
  text-decoration: none;
  color: dodgerblue;
  font-weight: bold;
}

.fn{
  color: rgba(67, 243, 79, 0.884);
  font-family: 'Great Vibes', cursive;
  font-size: large;
  cursor: pointer;
}
.ln{
  color: rgb(242, 0, 251);
  font-family: 'Great Vibes', cursive;
  font-size: large;
  cursor: pointer;
}

@media screen and (max-width:300px){
  .navigation{
    background-color: red;
  }
} 